<tr>
  <td class="align-middle">
    <%= badge.name %>
  </td>
  <td class="text-center align-middle">
    <%= badge.image_url %>
  </td>
  <td class="text-center align-middle">
    <%= show_rule(badge) %>
  </td>
  <td class="text-center align-middle">
    <%= link_to t('.delete'), admin_badges_path(badge),
                              method: :delete,
                              data: { confirm: t('.confirmation')} %>
  </td>
</tr>
