<div>
  <br>
  <br><%= current_year %><br>
  Каюмов Эльдар<br>
  <%= github_url("KayumovEldar", "test-guru-r") %><br>
  <%= link_to 'Badges', badges_path %><br>
   Создание тестов<br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', rel: :nofollow, target: :_blank  %>
</div>
