<p>Eldar Kayumov</p>
<script type="text/javascript">
    document.write(Date());
</script>
<th><%=github_url('KayumovELdar', 'test-guru-r'%></th>
<%= link_to "Thinknetica",'https://thinknetica.com/', rel: :nofollow, target: :_blank %>
