<p>Eldar Kayumov</p>
<script type="text/javascript">
    document.write(Date());
</script>
<th><%= link_to "Test_guru",'https://github.com/KayumovELdar/test-guru-r', rel: :nofollow, target: :_blank %></th>
<th><%= link_to "Thinknetica",'https://thinknetica.com/', rel: :nofollow, target: :_blank %></th>
