<div>
  Каюмлв Эльдар<br>
  <%= github_url("KayumovEldar", "test-guru-r") %><br>
   Создание тестов<br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', rel: :nofollow, target: :_blank  %>
</div>
