
<h1>Вопрос</h1>

<p>
  <%= @answer.question.text %>
</p>

<p>
  <b>Ответ:</b>
  <%= @answer.text %>
</p>

<p>
  <b>Корректность:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Назад', admin_question_path(@answer.question) %>
