// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.success {
  color: green;
}

.fail {
  color: red;
}

div.progress-bar{
  background-color: black;
  border-radius: 15px;
  padding: 5px;
    height: 20px;
  width: px;
  .progress{
    background-color: orange;
    height: 16px;
    border-radius: 8px;
  }
}
